#main-dialog{
  .image-content {
    justify-content: center;
     width: 5% !important;
     margin-left: 20px !important;

  }
  .titleInv{
   margin: 30px;


   margin-right: 20px;

     display: flex;
     justify-content: center;
  }



  .formProductstyle{
    padding: 0px 20px;

  }
  .toolbar-create{
    background:#594ed6;
    color:white;
  }
  .matContent{
    width: 80%;
    padding: 50px;
  }
  .selecthab{

        width: 86%;
        margin-right: 20px;

  }

  .btncolor{
    background: #8c81dd !important;
    color:white;
    border-radius: 1em;
  }
  .padd{
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
