#login{
  padding: 50px 50px;
 width: 100%;
 height: 100%;
     .content-login{
         width: 50%;
         height: 50%;
     }
     .card-login{
         width: 100% !important;
         max-width: 1000px;

     }
     .colorbtnlogin{
         background:#594ed6;
         color:beige;

     }
     .btn-login{

             padding-bottom: 40px;

     }
     .form-login{
         padding-top: 40px;
     }

     .mat-mdc-card-title {
         display: block;
         align-items: center;
         color: white;
         background: #594ed6;
         padding: 16px;
     }
     .mat-mdc-card-subtitle{
         padding-top: 20px;
         font-size: 22px;
         color: #594ed6;
     }
     .mat-mdc-card-header {
         padding: 0px !important;
         background: #594ed6;
         display: flex;

     }
 }
